* {
  margin: 0px;
  padding: 0px;
}

body {
  background: white;
  font-family: 'PT Serif', serif;
  /* display: flex;
  flex-direction: column; */
}


/* header {
  background: url(Header_Panda.png);
  width: 960px;
  height: 150px;
} */


header h1 {
  color: #081C15;
}

/* ul {
  background: #95D5B2; */
  /* padding: 10px; */
  /* margin: -30px; */
  /* border: solid 2px #D8F3DC; */
  /* width: 100%; */
/* } */

/* #home {
  width: 23%;
  text-align: center;
}

#about {
  width: 23%;
  text-align: center;
}

#projects {
  width: 23%;
  text-align: center;
}

#contact {
  width: 23%;
  text-align: center;
} */

/* nav {
   position: sticky;
  top: 0;
} */

.container-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "home about projects contact";
  background-color: #95D5B2;
  text-align: center;
  position: sticky;
  top: 0;

}

.nav {
  color: white;
  padding: 1em;
}

/* #nav-home {
  grid-area: home;
} */

/* #nav-about {
  grid-area: about
} */

/* ul li {
  display: inline-block;
  width: 23%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
} */

/* ul li a {
  color: white;
  text-decoration: none;
} */


.container-nav a:hover {
  color: black;
}

.page {
  /* padding: 5px;
  margin: 5px;
  border: double 4px black; */
  text-align: center;
}

/* section article { */
  /* border: 3px solid #52B788; */
  /* border-radius: 20px 20px 20px 20px; */
  /* margin: 5px 10px 5px 10px; */
  /* background: #b7e4c7; */
  /* padding: 10px;
  color: black;
} */

.home {
  padding: 10vw;
}

.home #panda {
  /* float: right;
  padding-top: 10px;
  padding-left: 2%; */
  width: 10vw;
  padding-top: 5vw;
}

.about {
  background-color: #95D5B2;
  color: white;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 10vw;
}


footer {
  background: #95D5B2;
  /* flex-shrink: 0; */
  /* position: fixed; */
  /* bottom: 0; */
  width: 100%;
  /* left: 0; */
  align-items: flex-end;
}

footer h3 {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
}

.wrapper {
  margin: 0 auto 0 auto;
  width: 100%;
}
