* {
  margin: 0px;
  padding: 0px;
}

body {
  background: white;
  font-family: 'PT Serif', serif;
  /* display: flex;
  flex-direction: column; */
}

/* header {
  background: url(Header_Panda.png);
  width: 960px;
  height: 150px;
} */


header h1 {
  color: #081C15;
}

ul {
  background: #b7e4c7;
  /* padding: 10px; */
  /* margin: -30px; */
  /* border: solid 2px #D8F3DC; */
  width: 100%;
}

/* #home {
  width: 23%;
  text-align: center;
}

#about {
  width: 23%;
  text-align: center;
}

#projects {
  width: 23%;
  text-align: center;
}

#contact {
  width: 23%;
  text-align: center;
} */

ul li {
  /* background: #40916C; */
  /* padding: 5px; */
  display: inline-block;
  /* width: 25%; */
  width: 23%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  /* align-items: center; */
}

ul li a {
  color: black;
  text-decoration: none;
}


nav a:hover {
  color: #1B4332;
}

section {
  padding: 5px;
  margin: 5px;
  /* border: double 4px black; */
}

section article {
  /* border: 3px solid #52B788; */
  /* border-radius: 20px 20px 20px 20px; */
  /* margin: 5px 10px 5px 10px; */
  padding: 10px;
  /* background: #b7e4c7; */
  color: black;
}

.article_1 {
  text-align: center;
  padding: 10%;
}

.article_1 #panda {
  /* float: right;
  padding-top: 10px;
  padding-left: 2%; */
  width: 25%;
  padding: 10%;
}

footer {
  background: #b7e4c7;
  /* flex-shrink: 0; */
  position: fixed;
  bottom: 0;
  width: 100%;
  /* left: 0; */
}

footer h3 {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
}

.wrapper {
  margin: 0 auto 0 auto;
  width: 100%;
}
